.noticia{
  background-color: rgb(124, 124, 255);
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
}

aside{
  float: left;
  width: 25%;
  height: 100vh;
  padding: 20px;
  background-color: aquamarine;
  border-radius: 0 20px 20px 0;
}

.contenedor-noticias{
  margin-left: 25%;
  max-width: 700px;
}