.noticia{
  background-color: rgb(124, 124, 255);
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
}

aside{
  float: left;
  width: 25%;
  height: 100vh;
  padding: 20px;
  background-color: aquamarine;
  border-radius: 0 20px 20px 0;
}

.filter-item{
  padding: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 0 10px 10px 0;
  margin: 10px 0;
}

.contenedor-noticias{
  margin-left: 25%;
  max-width: 700px;
}

.encabezado{
  width: 100%;
  background-color: white;
  border-radius: 15px 15px 0 0;
  padding: 5px;
  margin: 0 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.departamento{
  display: flex;
  align-items: center;
}

.departamento p{
  font-size: larger;
  font-weight: 600;
  margin: 0;
  padding: 0 0 5px 10px;
}

.icon-departamento{
  max-width: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

.container-multimedia{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-noticia{
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px;
}

.document-link{
  color: black;
  padding: 5px 10%;
  background-color: white;
  border-radius: 10px;
  font-weight: 600;
}